:root {
    --page-scroll-done: #5acdfa;
    --page-scroll-progress: #f5a8b8;
  }
  
  /* HERE IS THE SCROLL STYLE*/
  
  div[page-scroll-progress] {
    position: fixed;
    width: attr('data-percent');
    height: 2px;
    background: var(--page-scroll-progress);
    box-shadow: -1px 1px 2px var(--page-scroll-progress);
    margin: 0px;
    padding: 0px;
    top: 0;
    transition: background 1000ms ease, box-shadow 500ms ease, width 200ms ease;
  }
  div[page-scroll-progress].complete {
    background: var(--page-scroll-done);
    box-shadow: -1px 1px 2px var(--page-scroll-done);
  }
  